*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #0C122C, #1D2C67);
    color: white;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;

}
header{
    font-size: 1.5rem;

}
header h1{
    background-color: #1D2C67;
    padding: 20px;
    border-top-left-radius: 10px;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;
}
form input{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

form button{
    color: #fe9a9c;
    background: white;
    cursor: pointer;
    transition: all 0.5s ease;
    border-top-right-radius: 6px;
}

form button:hover{
    background: #fe9a9c;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.todo-list{
    min-width: 30%;
    list-style: none;

}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.6s ease;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn{
    background: #fe9a9c;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;

}

.complete-btn{
    background: #97d86f;
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.8;
}

.fall{
    transform: translateY(8rem);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;

}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;   
}

select{
    color: white;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    background: #fda099;
    border-radius: 6px;
}

.select::after{

    content: "\25BC";
    position: absolute;
    background:#fda099;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    border-top-right-radius: 6px;
    transition: all 0.5s ease ;
}

.select:hover::after{
    background: #fdb8b5;

}


